/* _why-us.css */

.why-us {
    position: relative;
    background: rgba(217, 217, 217, 0.2);;
    overflow: hidden;
}

.why-us .container {
    padding: 69px clamp(1rem, 10vw, 220px) 232px clamp(1rem, 10vw, 220px);
}

.why-info__label {
    font-size: var(--font-size-base);
    color: var(--color-gray-light);
    border: 1px solid var(--color-black-13);
    padding: 10px 16px;
    border-radius: 50px;
    margin-bottom: 34px;
    display: inline-block;
}

.why-info .section-title {
    font-size: clamp(2rem, 5vw, 56px);
    letter-spacing: -0.06em;
    margin-bottom: 30px;
}

.why-info .section-title .span-primary:last-child {
    display: none;
}

.why-info p {
    font-size: var(--font-size-lg);
    color: var(--color-gray-medium);
    max-width: 425px;
    margin-bottom: 38px;
}

/* Сетка карточек */
.why-us__grid {
    display: flex;
    gap: 10px;
    align-items: stretch;
}

/* Карточка */
.why-item {
    flex: 1;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: flex 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    aspect-ratio: 410 / 717;
    min-height: 600px;
    max-height: 600px;
    will-change: flex;
}

.why-item:hover {
    flex: 2;
}

.why-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Затемнение при наведении */
.why-item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, var(--color-black-60), transparent 60%);
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 1;
}

.why-item:hover::after {
    opacity: 1;
}

/* Верхняя информация */
.item-info {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    max-width: 270px;
    width: 90%;
    z-index: 2;
}

.item-info h3 {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    color: var(--color-white-52);
    margin-bottom: 19px;
}

.item-info p {
    font-size: clamp(1.5rem, 3vw, 33px);
    font-weight: var(--font-weight-medium);
    line-height: 0.96;
    letter-spacing: -0.05em;
    color: var(--color-white);
}

/* Нижняя информация */
.item-info_bottom {
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 350px;
    width: 90%;
    text-align: center;
    transition: bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 3;
}

.why-item:hover .item-info_bottom {
    bottom: 55px;
}

.why-item__desc {
    line-height: 1.35;
    font-weight: 400;
    font-size: var(--font-size-md);
    color: var(--color-white);
}

/* ===== АДАПТИВ ===== */

@media (max-width: 1440px) {
    .why-item {
        min-height: 550px;
        max-height: 550px;
    }
}

@media (max-width: 1023px) {
    .why-item {
        aspect-ratio: auto;
        min-height: 500px;
        max-height: 500px;
    }

    .why-item:hover {
        flex: 1.5;
    }

    .why-us .container {
        padding: 60px clamp(1rem, 6vw, 100px) 150px clamp(1rem, 6vw, 100px);
    }
}

@media (max-width: 767px) {
    .why-us .container {
        padding: 39px 20px 80px;
    }

    .why-info__label {
        margin-bottom: 15px;
    }

    .why-info .section-title {
        font-size: 38px;
        margin-bottom: 18px;
        max-width: 230px;
    }

    .why-info .section-title .span-primary:last-child {
        display: inline-block;
    }

    .why-info .section-title span:not(.span-primary:last-child) {
        display: none;
    }

    .why-info p {
        font-size: 15px;
        margin-bottom: 34px;
    }

    .why-us__grid {
        flex-direction: column;
        gap: 28px;
    }

    .why-item {
        width: 100%;
        min-height: 400px;
        max-height: 400px;
        aspect-ratio: auto;
    }

    .why-item::after {
        opacity: 1;
        background: linear-gradient(to top, var(--color-black-60), transparent 60%);
    }
    
    .why-item:hover::after {
        opacity: 1; /* УБИРАЕМ ИЗМЕНЕНИЕ ПРИ ХОВЕРЕ */
    }

    .why-item img {
        width: 100%;
        min-height: 400px;
    }

    .why-item:hover {
        flex: 1;
    }

    .item-info {
        top: 25px;
        width: 90%;
    }

    .why-item__title {
        font-size: 15px;
        margin-bottom: 19px;
    }

    .item-info p {
        font-size: 30px;
    }

    .item-info_bottom {
        bottom: 25px;
        transition: none;
        width: 93%;
    }

    .why-item__desc {
        font-size: 15px;
    }

    .why-item:hover .item-info_bottom {
        bottom: 25px;
    }
}

@media (max-width: 480px) {
    .why-info .section-title {
        font-size: 28px;
        max-width: 200px;
    }

    .item-info p {
        font-size: 24px;
    }

    .why-item__desc {
        font-size: 13px;
    }
}